.introduction {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: rgba(245, 248, 247, 0.973);
    overflow: hidden; /* Prevent overflow during animation */
    
}

.introduction-content {
    flex: 1;
    margin-right: 20px;
    color: rgb(30, 31, 31);
    background-color: rgba(253, 251, 251, 0.904); /* Optional: Add a background to the text container */
    padding: 20px; /* Add padding for better spacing */
    border-radius: 10px; /* Rounded corners */
}

.introduction-image {
    flex: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background to the image container */
    padding: 20px; /* Add padding for better spacing */
    border-radius: 10px; /* Rounded corners */
}

.introduction-image img {
    width: 400px;
    height: 400px;
    border-radius: 50%; /* Optional: Make the image circular */
}

.introduction h1,
.introduction h2,
.introduction p {
    color: rgb(37, 37, 37); /* Text color */
}

/* Animation styles */
.bounce {
    animation: floatAndbounce 2s infinite; /* Bouncing animation */
}

 @keyframes floatAndBounce {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }
