.introduction {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: rgba(49, 49, 56, 0.973);
    overflow: hidden; /* Prevent overflow during animation */
    
}

.introduction-content {
    flex: 1;
    margin-right: 20px;
    color: aliceblue;
}

.introduction-image {
    flex: 1;
    text-align: center;
}

.introduction-image img {
    width: 400px;
    height: 400px;
    -moz-float-edge: 34;
    /* border-radius: 100%; */
}

.introduction h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: aliceblue;
}

.introduction h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: aliceblue;
}

.introduction p {
    font-size: 18px;
    margin-bottom: 10px;
    color: aliceblue;
}

/* Animation styles */
.slide-in-left {
    animation: slide-in-left 2.5s forwards; /* Animation for text */
}

.slide-in-right {
    animation: slide-in-right 2.5s forwards; /* Animation for image */
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateX(0); /* End at original position */
        opacity: 1; /* End visible */
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateX(0); /* End at original position */
        opacity: 1; /* End visible */
    }
}