.navbar {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between logo and links */
    align-items: center; /* Center items vertically */
    padding: 10px 20px; /* Padding for the navbar */
    background-color: rgba(251, 253, 252, 0.973); /* Background color */
}

.navbar-logo img {
    width: 50px; /* Adjust logo size */
    height: 50px; /* Adjust logo size */
    border-radius: 50%; /* Make logo circular */
}

.navbar-links {
    list-style: none; /* Remove default list styles */
    display: flex; /* Use flexbox for links */
    gap: 15px; /* Space between links */
}

.navbar-links li {
    display: inline; /* Inline display for list items */
}

.social-icon {
    font-size: 24px; /* Size of the icons */
    color: rgb(78, 79, 80); /* Icon color */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.social-icon:hover {
    color: #007bff; /* Change color on hover */
}